@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #102133; // Your first color
    --secondary-color: #FC4C43; // Your second color
    --tertiary-color: #55C6FF; // Your third color
}