@font-face {
    font-family: "Astonpoliz";
    src: url("/fonts/Astonpoliz.ttf") format("truetype");
}

.sidebar {
    width: 320px;
    background: #102133;
    color: #fff;
    padding: 20px;
    height: 100%;
    h2 {
        font-size: 1.5rem;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin: 10px 0;

            a {
                color: #fff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

// mobile
@media (max-width: 440px) {
    .sidebar {
        width: 48px;
    }
    .sidebar-logo {
        width: 80px;
    }
}

.sidebar-title {
    font-family: "Astonpoliz", sans-serif;
    font-size: 3rem; // Adjust this for desired size
    text-align: center;
}

.sidebar-logo {
    width: 120px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
}
